<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.groundmobile.ground">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".GroundApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ground_app_icon_96"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ground_app_icon_96"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.groundmobile.ground.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <service android:name="firebase.CustomFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="firebase.FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="view.IntroActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="view.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="view.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="view.MatchAreaBoardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="view.WriteMatchBoardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="view.DetailMatchArticleActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="detail_article"
                    android:scheme="ground" />
            </intent-filter>
        </activity>
        <activity
            android:name="view.CommentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="view.MyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="view.OpenSourceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="view.EditBoardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="view.FormationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="view.AppPushActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="view.CommunityBoardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="view.WriteCommunityBoardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="view.DetailCommunityActivity"
            android:screenOrientation="portrait" />
        <activity android:name="view.ImageViewerActivity"></activity>
    </application>

</manifest>